<div class="table-container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search" />
    <button class="search-icon" (click)="onSearch()">Search</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>
          <input type="checkbox" (change)="selectAllRows($event)" />
        </th>
        
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of (filteredUsers.length > 0 ? filteredUsers : users)" [class.selected]="user.isSelected">
        <td>
          <input type="checkbox" [(ngModel)]="user.isSelected" (change)="selectRow(user)" />
        </td>
        
        <td>
          <ng-container *ngIf="isEditingName[user.id]; else notEditingName">
            <input [(ngModel)]="user.name" />
          </ng-container>
          <ng-template #notEditingName>{{ user.name }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="isEditingEmail[user.id]; else notEditingEmail">
            <input [(ngModel)]="user.email" />
          </ng-container>
          <ng-template #notEditingEmail>{{ user.email }}</ng-template>
        </td>
        <td>
          <button (click)="editUser(user, 'Name')" class="edit-button">{{ isEditingName[user.id] ? 'Save' : 'Edit Name' }}</button>
          <button (click)="editUser(user, 'Email')" class="edit-button">{{ isEditingEmail[user.id] ? 'Save' : 'Edit Email' }}</button>
          <button (click)="deleteUser(user)" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">
          <button (click)="deleteSelectedRows()" class="delete-selected-button">Delete Selected</button>
          <app-pagination
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)"
          ></app-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>