.table-container {
  max-width: 800px;
  margin: 0 auto;

}
input[type="text"] {
  padding: 8px;
  width: 60%;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-right: 10px;
}
button.search-icon {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button.search-icon:hover {
  background-color: #45a049;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
button.edit-button {
  margin-right: 10px;
}
button.delete-button {
  margin-left: 10px;
}
tbody tr:hover {
  background-color: #f5f5f5;
}
tbody tr.selected {
  background-color: #d3d3d3;
}
.delete-selected-button {
  padding: 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}